{% extends "base.html" %}
{% block title %}{{ pokemon | capfirst }}{% endblock title %}
{% block content %}
    <p>Has elegido el pokemon: <strong>{{ pokemon | capfirst }}</strong></p>
    <p>Detalles</p>
    <ul>
        <li>Nombre: {{ pokemon.name }}</li>
        <li>Tipo: {{ pokemon.type }}</li>
        <li>Peso: {{ pokemon.weight|floatformat:0 }}</li>
        <li>Altura: {{ pokemon.height|floatformat:0 }}</li>
        <li>Entrenador: {{ pokemon.trainer}}</li>
    </ul>    
{% endblock content %}